@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers

@model OrnekUygulama.Models.Product

<form asp-action="VeriAl" asp-controller="Product" method="post">
    <input asp-for="ProductName" type="text" value="" />
    <br />
    <input asp-for="Quantity" type="text" value="" />
    <br />
    <button>Gonder</button>
</form>

<a asp-action="Index" asp-controller="Home" asp-route-a="ahmet" asp-route-b="mehmet" asp-route-id="123" asp-route-x="isadıfph">content</a>