@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<button id="btnGonder">Gonder</button>


<script>
    $("#btnGonder").click(() => {
        $.post("https://localhost:5001/product/verial", { a: "a data", b: "b data" });
    });
</script>