@*@model OrnekUygulama.Models.ViewModels.UserProduct

    <h3>@Model.Product.ProductName</h3>
    <h3>@Model.User.Name</h3>*@


@model (OrnekUygulama.Models.Product p, OrnekUygulama.Models.User u)

<h3>@Model.p.ProductName</h3>
<h3>@Model.u.Name</h3>