@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper * ,OrnekUygulama

<a href="mailto:numan.mercan24@gmail.com">Email</a><br />

<email a="abc" mail="numan.mercan24@gmail.com" display="Numan Mercan Mail'i"></email>
